@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;700&display=swap');
$mainFont: 'Signika', sans-serif;
$mainTxtColor: #000000;
$secTxtColor: #ffffff;
$btnColor: #3ACDD5;
$effectColor: #606060;

@mixin flexCentrCentr () {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin btnProp () {
  border-radius: 30px;
  color: $secTxtColor;
  background: $btnColor;
  font-size: 32px;
  font-family: $mainFont;
  font-weight: 500;
  cursor: pointer;
  @media screen and (max-width: 1100px) {
    font-size: 24px;
  }
  @media screen and (max-width: 800px) {
    font-size: 16px;
  }
  @media screen and (max-width: 450px) {
    font-size: 14px;
  }
}
* {
  box-sizing: border-box;
}
body {
  margin: 0 auto !important;
  max-width: 1920px;
}
article {
  font-family: $mainFont;
  font-weight: 700;
  font-size: 68px;
  text-align: center;
  padding-top: 100px;
  @media screen and (max-width: 1100px) {
    font-size: 48px;
    padding-top: 50px;
  }
  @media screen and (max-width: 800px) {
    font-size: 40px;
  }
  @media screen and (max-width: 450px) {
    font-size: 32px;
  }
}
article + p {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  line-height: 42px;
  margin: 50px 0 80px;
  @media screen and (max-width: 1100px) {
    font-size: 18px;
    margin: 30px 0 40px;
  }
  @media screen and (max-width: 800px) {
    font-size: 16px;
    margin: 30px 0;
  }
  @media screen and (max-width: 1100px) {
    font-size: 14px;
  }
}
.content-btn {
  width: 300px;
  height: 80px;
  margin: 50px auto 20px;
  @include flexCentrCentr;
  @include btnProp;
  box-shadow: 0 0 10px 2px $effectColor;
  cursor: pointer;
  transition: .5s ease-in-out;
  @media screen and (max-width: 1600px) {
    margin: 90px auto 20px;
  }
  @media screen and (max-width: 1100px) {
    width: 240px;
    height: 60px;
  }
  @media screen and (max-width: 800px) {
    width: 180px;
    height: 50px;
  }
  @media screen and (max-width: 450px) {
    width: 150px;
    height: 50px;
  }
  &:hover {
    background: $secTxtColor;
    color: $btnColor;
  }
}
svg {
  cursor: pointer;
}
.modal-basket {
  display: none;
  position: fixed;
  z-index: 4;
  width: 1000px;
  max-height: 800px;
  margin: 5% auto;
  background: $secTxtColor;
  border-radius: 30px;
  left: 0;
  right: 0;
  color: #000000;
  overflow: auto;
  &__close {
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    top: 20px;
    right: 20px;
    @media screen and (max-width: 550px) {
      width: 20px;
      height: 20px;
      top: 10px;
      right: 10px;
    }
    span {
      position: absolute;
      right: 4px;
      top: 4px;
      width: 32px;
      height: 32px;
      &:before, &:after {
        position: absolute;
        left: 15px;
        content: '';
        height: 33px;
        width: 2px;
        background-color: $btnColor;
        @media screen and (max-width: 550px) {
          width: 2px;
          height: 15px;
        }
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    min-height: 490px;
    @media screen and (max-width: 550px) {
      min-height: 340px;
    }
    h2 {
      font-family: $mainFont;
      font-size: 36px;
      text-align: center;
      @media screen and (max-width: 1000px) {
        font-size: 35px;
      }
      @media screen and (max-width: 700px) {
        font-size: 30px;
      }
      @media screen and (max-width: 550px) {
        font-size: 16px;
      }
    }
    svg {
      position: absolute;
      left: -20px;
      right: 0;
      margin: 13% auto;
    }
    h3 {
      font-family: $mainFont;
      font-weight: 300;
      font-size: 30px;
      text-align: center;
      margin-top: 250px;
      @media screen and (max-width: 1000px) {
        font-size: 30px;
      }
      @media screen and (max-width: 700px) {
        font-size: 24px;
      }
      @media screen and (max-width: 550px) {
        font-size: 16px;
      }
    }
    section {
      width: 90%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 60% 10% 3% 10% 3% 14%;
    }
    div {
      width: 100%;
      height: 50px;
      font-family: $mainFont;
      font-size: 24px;
      @include flexCentrCentr;
    }
  }
}
.header {
  background: url("../img/header_bg.jpg") no-repeat;
  background-size: cover;
  position: relative;
  @media screen and (max-width: 1500px) {
    background: url("../img/header_bg-w1440.jpg") no-repeat;
  }
  @media screen and (max-width: 1100px) {
    background: url("../img/header_bg-w1024.jpg") no-repeat;
  }
  @media screen and (max-width: 800px) {
    background: url("../img/header_bg-w768.jpg") no-repeat;
  }
  &__logo {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 800px) {
      padding-top: 20px;
      justify-content: flex-start;
      margin-left: 35px;
      img {
        height: 90px;
        @media screen and (max-width: 450px) {
          height: 60px;
        }
      }
    }
  }
  svg {
    position: absolute;
    top: 60px;
    right: 200px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    @media screen and (max-width: 800px) {
      right: 50px;
      width: 35px;
      height: 35px;
      top: 40px;
    }
  }
  &__basket-mark {
    display: none;
    position: absolute;
    top: 50px;
    right: 190px;
    background: $btnColor;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: $secTxtColor;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 800px) {
      right: 40px;
      width: 25px;
      height: 25px;
      top: 30px;
    }
  }
  &__navigation {
    nav {
      margin: 20px auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 50%;
      @media screen and (max-width: 800px) {
        display: none;
      }
      a {
        position: relative;
        text-decoration: none;
        color: $mainTxtColor;
        font-family: $mainFont;
        font-weight: 700;
        font-size: 23px;
        @media screen and (max-width: 1100px) {
          font-size: 16px;
        }
        @media screen and (max-width: 800px) {
          font-size: 14px;
        }
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background: $mainTxtColor;
          transition: .5s ease;
        }
      }
      a:hover::before  {
        width: 100%;
       }
    }
  }
  #hamburger {
    display: none;
    & + label {
      display: none;
      width: 42px;
      height: 42px;
      @media screen and (max-width: 800px) {
        display: block;
        position: absolute;
        z-index: 1;
        top: 20px;
        right: 0;
        left: 0;
        margin: 40px auto;
      }
      span {
        width: 30px;
        height: 3px;
        background: $mainTxtColor;
        display: block;
        position: relative;
        margin: auto;
        transition: .5s;
        &:before, &:after {
          transition: .5s;
          content: '';
          position: absolute;
          width: 100%;
          height: 3px;
          display: block;
          background: $mainTxtColor;
        }
        &:before {
          top: -10px;
        }
        &:after {
          bottom: -10px;
        }
      }
    }
    &:checked + label {
      span {
        background: transparent;
        transform: rotate(180deg);
        &:before, &:after {
          top: 50%;
          bottom: initial;
          width: 110%;
          background: $mainTxtColor;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    position: absolute;
    height: 160px;
    top: 80px;
    right: 0;
    left: 0;
    margin: 20px auto;
    background: $secTxtColor;
    overflow: auto;
    z-index: 0;
    a {
      margin: 10px 0;
    }
  }
  h3 {
    font-family: $mainFont;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    margin: 60px 0 0;
    @media screen and (max-width: 1100px) {
      font-size: 28px;
    }
    @media screen and (max-width: 800px) {
      font-size: 24px;
      margin: 30px 0 0;
    }
    @media screen and (max-width: 600px) {
      font-size: 14px;
      color: $secTxtColor;
    }
    @media screen and (max-width: 450px) {
      font-size: 12px;
    }
  }
  h2 {
    color: $secTxtColor;
    font-family: $mainFont;
    font-weight: 500;
    font-size: 175px;
    text-align: center;
    margin: 0;
    @media screen and (max-width: 1100px) {
      font-size: 100px;
    }
    @media screen and (max-width: 800px) {
      font-size: 55px;
    }
    @media screen and (max-width: 600px) {
      font-size: 50px;
    }
    @media screen and (max-width: 450px) {
      font-size: 40px;
    }
  }
  &__info {
    margin: 350px 0 0 200px;
    @media screen and (max-width: 1500px) {
      margin: 200px 0 0 100px;
    }
    @media screen and (max-width: 1100px) {
      margin: 100px 0 0 100px;
    }
    @media screen and (max-width: 800px) {
      margin: 120px 0 0 80px;
    }
    @media screen and (max-width: 450px) {
      margin: 150px auto 0 50px;
    }
    p {
      font-family: $mainFont;
      font-weight: 700;
      font-size: 80px;
      margin: 0;
      @media screen and (max-width: 1100px) {
        font-size: 60px;
      }
      @media screen and (max-width: 800px) {
        font-size: 40px;
      }
      @media screen and (max-width: 450px) {
        font-size: 30px;
      }
    }
    p + p {
      font-weight: 300;
      font-size: 90px;
      margin: 0;
      @media screen and (max-width: 1100px) {
        font-size: 70px;
      }
      @media screen and (max-width: 800px) {
        font-size: 50px;
      }
      @media screen and (max-width: 450px) {
        font-size: 35px;
      }
    }
    p + p + p {
      font-weight: 300;
      font-size: 21px;
      line-height: 42px;
      margin: 40px 0 30px;
      @media screen and (max-width: 1100px) {
        font-size: 17px;
        line-height: 20px;
      }
      @media screen and (max-width: 800px) {
        font-size: 14px;
        margin: 30px 0;
      }
      @media screen and (max-width: 450px) {
        font-size: 11px;
        margin: 20px 0;
      }
    }
    &__btn {
      width: 300px;
      height: 80px;
      @include btnProp;
      @include flexCentrCentr;
      box-shadow: 0 0 10px 2px $effectColor;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      @media screen and (max-width: 1100px) {
        width: 240px;
        height: 60px;
      }
      @media screen and (max-width: 800px) {
        width: 180px;
        height: 50px;
      }
      @media screen and (max-width: 450px) {
        width: 150px;
        height: 50px;
      }
      &:hover {
        background: $secTxtColor;
        color: $btnColor;
      }
    }
  }
}
.bags {
  &__grid {
  width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 400px 600px 400px;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
    @media screen and (max-width: 1500px) {
      gap: 20px;
    }
    @media screen and (max-width: 1100px) {
      width: 710px;
      grid-template-columns: 1fr;
      gap: 40px;
    }
    @media screen and (max-width: 800px) {
      width: 400px;
    }
    @media screen and (max-width: 450px) {
      width: 300px;
    }
  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
      @media screen and (max-width: 450px) {
        width: 220px;
      }
    }
    h4 {
      text-align: center;
      width: 80%;
      font-family: $mainFont;
      font-size: 15px;
      font-weight: 400;
      @media screen and (max-width: 1100px) {
        font-size: 14px;
      }
      @media screen and (max-width: 450px) {
        font-size: 12px;
      }
    }
    div {
      @include flexCentrCentr;
      height: 50px;
      svg {
        width: 30px;
        height: 30px;
        fill: $btnColor;
      }
      span {
        font-family: $mainFont;
        font-size: 30px;
        font-weight: 700;
        margin-right: 20px;
      }
    }
  }
}
}
.camps {
  &__grid {
    width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 400px 510px 570px;
    gap: 10px;
    @media screen and (max-width: 1100px) {
      width: 590px;
      grid-template-columns: 1fr;
      gap: 30px;
    }
    @media screen and (max-width: 450px) {
      width: 300px;
    }
    &__item {
      display: flex;
      align-items: center;
      flex-direction: column;
      img {
        @media screen and (max-width: 450px) {
          width: 280px;
        }
      }
      h4 {
        text-align: center;
        width: 80%;
        font-family: $mainFont;
        font-size: 15px;
        font-weight: 400;
        @media screen and (max-width: 1100px) {
          font-size: 14px;
        }
        @media screen and (max-width: 450px) {
          font-size: 12px;
        }
      }
      div {
        @include flexCentrCentr;
        height: 50px;
        svg {
          width: 30px;
          height: 30px;
          fill: $btnColor;
        }
        span {
          font-family: $mainFont;
          font-size: 30px;
          font-weight: 700;
          margin-right: 20px;
        }
      }
    }
  }
}
.cameras {
  &__slider {
    width: 1400px;
    margin: 0 auto;
    @media screen and (max-width: 1600px) {
      width: 550px;
    }
    @media screen and (max-width: 450px) {
      width: 310px;
    }
    &__item {
      height: 700px;
      width: 500px;
      @media screen and (max-width: 450px) {
        width: 300px;
      }
      img {
        margin: 0 auto;
        @media screen and (max-width: 450px) {
          width: 300px;
        }
      }
      .img3 {
        margin: 100px auto 110px;
      }
      div, h4 {
        margin: 0 auto;
      }
      h4 {
        text-align: center;
        width: 80%;
        font-family: $mainFont;
        font-size: 15px;
        font-weight: 400;
        padding-top: 30px;
        padding-bottom: 30px;
        @media screen and (max-width: 1100px) {
          font-size: 14px;
        }
        @media screen and (max-width: 450px) {
          font-size: 12px;
        }
      }
      div {
        @include flexCentrCentr;
        height: 50px;
        svg {
          width: 30px;
          height: 30px;
          fill: $btnColor;
        }
        span {
          font-family: $mainFont;
          font-size: 30px;
          font-weight: 700;
          margin-right: 20px;
        }
      }
    }
  }
}
.lens {
  &__slider {
    width: 1000px;
    margin: 0 auto;
    @media screen and (max-width: 1100px) {
      width: 800px;
    }
    @media screen and (max-width: 800px) {
      width: 400px;
    }
    @media screen and (max-width: 450px) {
      width: 310px;
    }
    &__item {
      display: flex;
      align-items: center;
      flex-direction: column;
      @media screen and (max-width: 800px) {
        width: 280px;
      }
      img {
        margin: 0 auto;
        @media screen and (max-width: 800px) {
          width: 350px;
        }
        @media screen and (max-width: 450px) {
          width: 250px;
        }
      }
      h4 {
        text-align: center;
        width: 80%;
        font-family: $mainFont;
        font-size: 15px;
        font-weight: 400;
        margin: 50px auto 20px;
        @media screen and (max-width: 1100px) {
          font-size: 14px;
        }
        @media screen and (max-width: 450px) {
          font-size: 12px;
        }
      }
      div {
        @include flexCentrCentr;
        height: 50px;
        svg {
          width: 30px;
          height: 30px;
          fill: $btnColor;
        }
        span {
          font-family: $mainFont;
          font-size: 30px;
          font-weight: 700;
          margin-right: 20px;
        }
      }
    }
  }
}
.sign {
  background: url("../img/sign_bg.jpg") no-repeat;
  background-size: cover;
  @media screen and (max-width: 1500px) {
    background: url("../img/sign_bg-w1440.jpg") no-repeat;
  }
  @media screen and (max-width: 1100px) {
    background: url("../img/sign_bg-w1024.jpg") no-repeat;
  }
  @media screen and (max-width: 800px) {
    background: url("../img/sign_bg-w768.jpg") no-repeat;
  }
  &__info {
    padding-top: 450px;
    padding-bottom: 200px;
    margin: 0 0 0 230px;
    width: 650px;
    color: $secTxtColor;
    @media screen and (max-width: 1500px) {
      margin: 0 auto;
      padding-top: 240px;
      padding-bottom: 100px;
    }
    @media screen and (max-width: 1100px) {
      margin: 0 auto;
      padding-top: 200px;
      padding-bottom: 100px;
    }
    @media screen and (max-width: 800px) {
      width: 400px;
      padding-top: 145px;
      padding-bottom: 50px;
    }
    @media screen and (max-width: 450px) {
      width: 300px;
    }
    p {
      font-family: $mainFont;
      font-weight: 700;
      font-size: 56px;
      margin: 0 0 20px;
      @media screen and (max-width: 1100px) {
        font-size: 48px;
      }
      @media screen and (max-width: 800px) {
        font-size: 32px;
      }
      @media screen and (max-width: 450px) {
        font-size: 28px;
      }
    }
    p + p {
      font-weight: 300;
      font-size: 52px;
      margin: 0;
      @media screen and (max-width: 1100px) {
        font-size: 30px;
      }
      @media screen and (max-width: 800px) {
        font-size: 22px;
      }
      @media screen and (max-width: 450px) {
        font-size: 18px;
      }
    }
    p + p + p {
      font-weight: 300;
      font-size: 17px;
      line-height: 30px;
      margin: 40px 0 50px;
      @media screen and (max-width: 1100px) {
        font-size: 13px;
        margin: 20px 0;
      }
      @media screen and (max-width: 800px) {
        font-size: 12px;
        line-height: 20px;
        margin: 15px 0;
      }
      @media screen and (max-width: 450px) {
        font-size: 11px;
      }
    }
    &__form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      input {
        width: 370px;
        height: 70px;
        outline: none;
        border: none;
        border-radius: 36px;
        padding-left: 30px;
        font-size: 20px;
        @media screen and (max-width: 1100px) {
          font-size: 16px;
        }
        @media screen and (max-width: 800px) {
          font-size: 12px;
          width: 250px;
          height: 40px;
        }
        @media screen and (max-width: 450px) {
          font-size: 11px;
          width: 170px;
        }
      }
      input::placeholder {
         font-family: $mainFont;
      }
      &__btn {
        width: 200px;
        height: 70px;
        @include btnProp;
        @include flexCentrCentr;
        box-shadow: 0 0 10px 2px $secTxtColor;
        cursor: pointer;
        transition: .5s ease-in-out;
        @media screen and (max-width: 1100px) {
          width: 160px;
        }
        @media screen and (max-width: 800px) {
          width: 120px;
          height: 40px;
        }
        @media screen and (max-width: 800px) {
          width: 100px;
        }
        &:hover {
          background: $secTxtColor;
          color: $btnColor;
        }
      }
    }
  }
}
.footer {
  &__info {
    width: 1400px;
    padding-top: 60px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media screen and (max-width: 1600px) {
      width: 1100px;
    }
    @media screen and (max-width: 1200px) {
      width: 800px;
    }
    @media screen and (max-width: 800px) {
      width: 440px;
    }
    @media screen and (max-width: 450px) {
      width: 300px;
    }
    &__item {
      display: flex;
      flex-direction: column;
      h3 {
        font-family: $mainFont;
        font-weight: 700;
        font-size: 42px;
        margin: 0 0 30px;
        @media screen and (max-width: 1200px) {
          font-size: 30px;
        }
        @media screen and (max-width: 800px) {
          font-size: 24px;
        }
        @media screen and (max-width: 450px) {
          font-size: 14px;
        }
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        a {
          text-decoration: none;
          color: $mainTxtColor;
          font-family: $mainFont;
          font-weight: 500;
          font-size: 30px;
          margin: 10px 0;
          @media screen and (max-width: 1200px) {
            font-size: 18px;
          }
          @media screen and (max-width: 800px) {
            font-size: 14px;
          }
          @media screen and (max-width: 450px) {
            font-size: 11px;
          }
        }
      }
    }
  }
  p {
    font-family: $mainFont;
    font-weight: 700;
    font-size: 22px;
    margin: 50px 0 40px;
    text-align: center;
    @media screen and (max-width: 800px) {
      font-size: 18px;
    }
    @media screen and (max-width: 450px) {
      font-size: 14px;
    }
  }
  &__social {
    margin: 30px 0;
    text-align: center;
    svg {
      fill: $effectColor;
      margin: 0 20px;
      @media screen and (max-width: 800px) {
        margin: 0 15px;
      }
      @media screen and (max-width: 450px) {
        width: 35px;
        height: 35px;
      }
    }
    a:nth-child(1) svg:hover {
       fill: #0B84ED;
    }
    a:nth-child(2) svg:hover {
      fill: #D73184;
    }
    a:nth-child(3) svg:hover {
      fill: #0A66C2;
    }
    a:nth-child(4) svg:hover {
       fill: #148AC5;
     }
  }
}
.dark-background {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, .8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}