@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto !important;
  max-width: 1920px;
}

article {
  font-family: "Signika", sans-serif;
  font-weight: 700;
  font-size: 68px;
  text-align: center;
  padding-top: 100px;
}
@media screen and (max-width: 1100px) {
  article {
    font-size: 48px;
    padding-top: 50px;
  }
}
@media screen and (max-width: 800px) {
  article {
    font-size: 40px;
  }
}
@media screen and (max-width: 450px) {
  article {
    font-size: 32px;
  }
}

article + p {
  font-family: "Signika", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  line-height: 42px;
  margin: 50px 0 80px;
}
@media screen and (max-width: 1100px) {
  article + p {
    font-size: 18px;
    margin: 30px 0 40px;
  }
}
@media screen and (max-width: 800px) {
  article + p {
    font-size: 16px;
    margin: 30px 0;
  }
}
@media screen and (max-width: 1100px) {
  article + p {
    font-size: 14px;
  }
}

.content-btn {
  width: 300px;
  height: 80px;
  margin: 50px auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  color: #ffffff;
  background: #3ACDD5;
  font-size: 32px;
  font-family: "Signika", sans-serif;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 0 10px 2px #606060;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
@media screen and (max-width: 1100px) {
  .content-btn {
    font-size: 24px;
  }
}
@media screen and (max-width: 800px) {
  .content-btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .content-btn {
    font-size: 14px;
  }
}
@media screen and (max-width: 1600px) {
  .content-btn {
    margin: 90px auto 20px;
  }
}
@media screen and (max-width: 1100px) {
  .content-btn {
    width: 240px;
    height: 60px;
  }
}
@media screen and (max-width: 800px) {
  .content-btn {
    width: 180px;
    height: 50px;
  }
}
@media screen and (max-width: 450px) {
  .content-btn {
    width: 150px;
    height: 50px;
  }
}
.content-btn:hover {
  background: #ffffff;
  color: #3ACDD5;
}

svg {
  cursor: pointer;
}

.modal-basket {
  display: none;
  position: fixed;
  z-index: 4;
  width: 1000px;
  max-height: 800px;
  margin: 5% auto;
  background: #ffffff;
  border-radius: 30px;
  left: 0;
  right: 0;
  color: #000000;
  overflow: auto;
}
.modal-basket__close {
  border-radius: 50%;
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  top: 20px;
  right: 20px;
}
@media screen and (max-width: 550px) {
  .modal-basket__close {
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
  }
}
.modal-basket__close span {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 32px;
  height: 32px;
}
.modal-basket__close span:before, .modal-basket__close span:after {
  position: absolute;
  left: 15px;
  content: "";
  height: 33px;
  width: 2px;
  background-color: #3ACDD5;
}
@media screen and (max-width: 550px) {
  .modal-basket__close span:before, .modal-basket__close span:after {
    width: 2px;
    height: 15px;
  }
}
.modal-basket__close span:before {
  transform: rotate(45deg);
}
.modal-basket__close span:after {
  transform: rotate(-45deg);
}
.modal-basket__content {
  display: flex;
  flex-direction: column;
  min-height: 490px;
}
@media screen and (max-width: 550px) {
  .modal-basket__content {
    min-height: 340px;
  }
}
.modal-basket__content h2 {
  font-family: "Signika", sans-serif;
  font-size: 36px;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .modal-basket__content h2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 700px) {
  .modal-basket__content h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 550px) {
  .modal-basket__content h2 {
    font-size: 16px;
  }
}
.modal-basket__content svg {
  position: absolute;
  left: -20px;
  right: 0;
  margin: 13% auto;
}
.modal-basket__content h3 {
  font-family: "Signika", sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  margin-top: 250px;
}
@media screen and (max-width: 1000px) {
  .modal-basket__content h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 700px) {
  .modal-basket__content h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 550px) {
  .modal-basket__content h3 {
    font-size: 16px;
  }
}
.modal-basket__content section {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 60% 10% 3% 10% 3% 14%;
}
.modal-basket__content div {
  width: 100%;
  height: 50px;
  font-family: "Signika", sans-serif;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background: url("../img/header_bg.jpg") no-repeat;
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 1500px) {
  .header {
    background: url("../img/header_bg-w1440.jpg") no-repeat;
  }
}
@media screen and (max-width: 1100px) {
  .header {
    background: url("../img/header_bg-w1024.jpg") no-repeat;
  }
}
@media screen and (max-width: 800px) {
  .header {
    background: url("../img/header_bg-w768.jpg") no-repeat;
  }
}
.header__logo {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .header__logo {
    padding-top: 20px;
    justify-content: flex-start;
    margin-left: 35px;
  }
  .header__logo img {
    height: 90px;
  }
}
@media screen and (max-width: 800px) and (max-width: 450px) {
  .header__logo img {
    height: 60px;
  }
}
.header svg {
  position: absolute;
  top: 60px;
  right: 200px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .header svg {
    right: 50px;
    width: 35px;
    height: 35px;
    top: 40px;
  }
}
.header__basket-mark {
  display: none;
  position: absolute;
  top: 50px;
  right: 190px;
  background: #3ACDD5;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #ffffff;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .header__basket-mark {
    right: 40px;
    width: 25px;
    height: 25px;
    top: 30px;
  }
}
.header__navigation nav {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
@media screen and (max-width: 800px) {
  .header__navigation nav {
    display: none;
  }
}
.header__navigation nav a {
  position: relative;
  text-decoration: none;
  color: #000000;
  font-family: "Signika", sans-serif;
  font-weight: 700;
  font-size: 23px;
}
@media screen and (max-width: 1100px) {
  .header__navigation nav a {
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  .header__navigation nav a {
    font-size: 14px;
  }
}
.header__navigation nav a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #000000;
  transition: 0.5s ease;
}
.header__navigation nav a:hover::before {
  width: 100%;
}
.header #hamburger {
  display: none;
}
.header #hamburger + label {
  display: none;
  width: 42px;
  height: 42px;
}
@media screen and (max-width: 800px) {
  .header #hamburger + label {
    display: block;
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 0;
    left: 0;
    margin: 40px auto;
  }
}
.header #hamburger + label span {
  width: 30px;
  height: 3px;
  background: #000000;
  display: block;
  position: relative;
  margin: auto;
  transition: 0.5s;
}
.header #hamburger + label span:before, .header #hamburger + label span:after {
  transition: 0.5s;
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  display: block;
  background: #000000;
}
.header #hamburger + label span:before {
  top: -10px;
}
.header #hamburger + label span:after {
  bottom: -10px;
}
.header #hamburger:checked + label span {
  background: transparent;
  transform: rotate(180deg);
}
.header #hamburger:checked + label span:before, .header #hamburger:checked + label span:after {
  top: 50%;
  bottom: initial;
  width: 110%;
  background: #000000;
}
.header #hamburger:checked + label span:before {
  transform: rotate(45deg);
}
.header #hamburger:checked + label span:after {
  transform: rotate(-45deg);
}
.header .nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  position: absolute;
  height: 160px;
  top: 80px;
  right: 0;
  left: 0;
  margin: 20px auto;
  background: #ffffff;
  overflow: auto;
  z-index: 0;
}
.header .nav-list a {
  margin: 10px 0;
}
.header h3 {
  font-family: "Signika", sans-serif;
  font-weight: 500;
  font-size: 35px;
  text-align: center;
  margin: 60px 0 0;
}
@media screen and (max-width: 1100px) {
  .header h3 {
    font-size: 28px;
  }
}
@media screen and (max-width: 800px) {
  .header h3 {
    font-size: 24px;
    margin: 30px 0 0;
  }
}
@media screen and (max-width: 600px) {
  .header h3 {
    font-size: 14px;
    color: #ffffff;
  }
}
@media screen and (max-width: 450px) {
  .header h3 {
    font-size: 12px;
  }
}
.header h2 {
  color: #ffffff;
  font-family: "Signika", sans-serif;
  font-weight: 500;
  font-size: 175px;
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 1100px) {
  .header h2 {
    font-size: 100px;
  }
}
@media screen and (max-width: 800px) {
  .header h2 {
    font-size: 55px;
  }
}
@media screen and (max-width: 600px) {
  .header h2 {
    font-size: 50px;
  }
}
@media screen and (max-width: 450px) {
  .header h2 {
    font-size: 40px;
  }
}
.header__info {
  margin: 350px 0 0 200px;
}
@media screen and (max-width: 1500px) {
  .header__info {
    margin: 200px 0 0 100px;
  }
}
@media screen and (max-width: 1100px) {
  .header__info {
    margin: 100px 0 0 100px;
  }
}
@media screen and (max-width: 800px) {
  .header__info {
    margin: 120px 0 0 80px;
  }
}
@media screen and (max-width: 450px) {
  .header__info {
    margin: 150px auto 0 50px;
  }
}
.header__info p {
  font-family: "Signika", sans-serif;
  font-weight: 700;
  font-size: 80px;
  margin: 0;
}
@media screen and (max-width: 1100px) {
  .header__info p {
    font-size: 60px;
  }
}
@media screen and (max-width: 800px) {
  .header__info p {
    font-size: 40px;
  }
}
@media screen and (max-width: 450px) {
  .header__info p {
    font-size: 30px;
  }
}
.header__info p + p {
  font-weight: 300;
  font-size: 90px;
  margin: 0;
}
@media screen and (max-width: 1100px) {
  .header__info p + p {
    font-size: 70px;
  }
}
@media screen and (max-width: 800px) {
  .header__info p + p {
    font-size: 50px;
  }
}
@media screen and (max-width: 450px) {
  .header__info p + p {
    font-size: 35px;
  }
}
.header__info p + p + p {
  font-weight: 300;
  font-size: 21px;
  line-height: 42px;
  margin: 40px 0 30px;
}
@media screen and (max-width: 1100px) {
  .header__info p + p + p {
    font-size: 17px;
    line-height: 20px;
  }
}
@media screen and (max-width: 800px) {
  .header__info p + p + p {
    font-size: 14px;
    margin: 30px 0;
  }
}
@media screen and (max-width: 450px) {
  .header__info p + p + p {
    font-size: 11px;
    margin: 20px 0;
  }
}
.header__info__btn {
  width: 300px;
  height: 80px;
  border-radius: 30px;
  color: #ffffff;
  background: #3ACDD5;
  font-size: 32px;
  font-family: "Signika", sans-serif;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 2px #606060;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 1100px) {
  .header__info__btn {
    font-size: 24px;
  }
}
@media screen and (max-width: 800px) {
  .header__info__btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .header__info__btn {
    font-size: 14px;
  }
}
@media screen and (max-width: 1100px) {
  .header__info__btn {
    width: 240px;
    height: 60px;
  }
}
@media screen and (max-width: 800px) {
  .header__info__btn {
    width: 180px;
    height: 50px;
  }
}
@media screen and (max-width: 450px) {
  .header__info__btn {
    width: 150px;
    height: 50px;
  }
}
.header__info__btn:hover {
  background: #ffffff;
  color: #3ACDD5;
}

.bags__grid {
  width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 400px 600px 400px;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
}
@media screen and (max-width: 1500px) {
  .bags__grid {
    gap: 20px;
  }
}
@media screen and (max-width: 1100px) {
  .bags__grid {
    width: 710px;
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
@media screen and (max-width: 800px) {
  .bags__grid {
    width: 400px;
  }
}
@media screen and (max-width: 450px) {
  .bags__grid {
    width: 300px;
  }
}
.bags__grid__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 450px) {
  .bags__grid__item img {
    width: 220px;
  }
}
.bags__grid__item h4 {
  text-align: center;
  width: 80%;
  font-family: "Signika", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
@media screen and (max-width: 1100px) {
  .bags__grid__item h4 {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  .bags__grid__item h4 {
    font-size: 12px;
  }
}
.bags__grid__item div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.bags__grid__item div svg {
  width: 30px;
  height: 30px;
  fill: #3ACDD5;
}
.bags__grid__item div span {
  font-family: "Signika", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-right: 20px;
}

.camps__grid {
  width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 400px 510px 570px;
  gap: 10px;
}
@media screen and (max-width: 1100px) {
  .camps__grid {
    width: 590px;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
@media screen and (max-width: 450px) {
  .camps__grid {
    width: 300px;
  }
}
.camps__grid__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 450px) {
  .camps__grid__item img {
    width: 280px;
  }
}
.camps__grid__item h4 {
  text-align: center;
  width: 80%;
  font-family: "Signika", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
@media screen and (max-width: 1100px) {
  .camps__grid__item h4 {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  .camps__grid__item h4 {
    font-size: 12px;
  }
}
.camps__grid__item div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.camps__grid__item div svg {
  width: 30px;
  height: 30px;
  fill: #3ACDD5;
}
.camps__grid__item div span {
  font-family: "Signika", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-right: 20px;
}

.cameras__slider {
  width: 1400px;
  margin: 0 auto;
}
@media screen and (max-width: 1600px) {
  .cameras__slider {
    width: 550px;
  }
}
@media screen and (max-width: 450px) {
  .cameras__slider {
    width: 310px;
  }
}
.cameras__slider__item {
  height: 700px;
  width: 500px;
}
@media screen and (max-width: 450px) {
  .cameras__slider__item {
    width: 300px;
  }
}
.cameras__slider__item img {
  margin: 0 auto;
}
@media screen and (max-width: 450px) {
  .cameras__slider__item img {
    width: 300px;
  }
}
.cameras__slider__item .img3 {
  margin: 100px auto 110px;
}
.cameras__slider__item div, .cameras__slider__item h4 {
  margin: 0 auto;
}
.cameras__slider__item h4 {
  text-align: center;
  width: 80%;
  font-family: "Signika", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 1100px) {
  .cameras__slider__item h4 {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  .cameras__slider__item h4 {
    font-size: 12px;
  }
}
.cameras__slider__item div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.cameras__slider__item div svg {
  width: 30px;
  height: 30px;
  fill: #3ACDD5;
}
.cameras__slider__item div span {
  font-family: "Signika", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-right: 20px;
}

.lens__slider {
  width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 1100px) {
  .lens__slider {
    width: 800px;
  }
}
@media screen and (max-width: 800px) {
  .lens__slider {
    width: 400px;
  }
}
@media screen and (max-width: 450px) {
  .lens__slider {
    width: 310px;
  }
}
.lens__slider__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  .lens__slider__item {
    width: 280px;
  }
}
.lens__slider__item img {
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .lens__slider__item img {
    width: 350px;
  }
}
@media screen and (max-width: 450px) {
  .lens__slider__item img {
    width: 250px;
  }
}
.lens__slider__item h4 {
  text-align: center;
  width: 80%;
  font-family: "Signika", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 50px auto 20px;
}
@media screen and (max-width: 1100px) {
  .lens__slider__item h4 {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  .lens__slider__item h4 {
    font-size: 12px;
  }
}
.lens__slider__item div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.lens__slider__item div svg {
  width: 30px;
  height: 30px;
  fill: #3ACDD5;
}
.lens__slider__item div span {
  font-family: "Signika", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-right: 20px;
}

.sign {
  background: url("../img/sign_bg.jpg") no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1500px) {
  .sign {
    background: url("../img/sign_bg-w1440.jpg") no-repeat;
  }
}
@media screen and (max-width: 1100px) {
  .sign {
    background: url("../img/sign_bg-w1024.jpg") no-repeat;
  }
}
@media screen and (max-width: 800px) {
  .sign {
    background: url("../img/sign_bg-w768.jpg") no-repeat;
  }
}
.sign__info {
  padding-top: 450px;
  padding-bottom: 200px;
  margin: 0 0 0 230px;
  width: 650px;
  color: #ffffff;
}
@media screen and (max-width: 1500px) {
  .sign__info {
    margin: 0 auto;
    padding-top: 240px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 1100px) {
  .sign__info {
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 800px) {
  .sign__info {
    width: 400px;
    padding-top: 145px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 450px) {
  .sign__info {
    width: 300px;
  }
}
.sign__info p {
  font-family: "Signika", sans-serif;
  font-weight: 700;
  font-size: 56px;
  margin: 0 0 20px;
}
@media screen and (max-width: 1100px) {
  .sign__info p {
    font-size: 48px;
  }
}
@media screen and (max-width: 800px) {
  .sign__info p {
    font-size: 32px;
  }
}
@media screen and (max-width: 450px) {
  .sign__info p {
    font-size: 28px;
  }
}
.sign__info p + p {
  font-weight: 300;
  font-size: 52px;
  margin: 0;
}
@media screen and (max-width: 1100px) {
  .sign__info p + p {
    font-size: 30px;
  }
}
@media screen and (max-width: 800px) {
  .sign__info p + p {
    font-size: 22px;
  }
}
@media screen and (max-width: 450px) {
  .sign__info p + p {
    font-size: 18px;
  }
}
.sign__info p + p + p {
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  margin: 40px 0 50px;
}
@media screen and (max-width: 1100px) {
  .sign__info p + p + p {
    font-size: 13px;
    margin: 20px 0;
  }
}
@media screen and (max-width: 800px) {
  .sign__info p + p + p {
    font-size: 12px;
    line-height: 20px;
    margin: 15px 0;
  }
}
@media screen and (max-width: 450px) {
  .sign__info p + p + p {
    font-size: 11px;
  }
}
.sign__info__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sign__info__form input {
  width: 370px;
  height: 70px;
  outline: none;
  border: none;
  border-radius: 36px;
  padding-left: 30px;
  font-size: 20px;
}
@media screen and (max-width: 1100px) {
  .sign__info__form input {
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  .sign__info__form input {
    font-size: 12px;
    width: 250px;
    height: 40px;
  }
}
@media screen and (max-width: 450px) {
  .sign__info__form input {
    font-size: 11px;
    width: 170px;
  }
}
.sign__info__form input::placeholder {
  font-family: "Signika", sans-serif;
}
.sign__info__form__btn {
  width: 200px;
  height: 70px;
  border-radius: 30px;
  color: #ffffff;
  background: #3ACDD5;
  font-size: 32px;
  font-family: "Signika", sans-serif;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 2px #ffffff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
@media screen and (max-width: 1100px) {
  .sign__info__form__btn {
    font-size: 24px;
  }
}
@media screen and (max-width: 800px) {
  .sign__info__form__btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .sign__info__form__btn {
    font-size: 14px;
  }
}
@media screen and (max-width: 1100px) {
  .sign__info__form__btn {
    width: 160px;
  }
}
@media screen and (max-width: 800px) {
  .sign__info__form__btn {
    width: 120px;
    height: 40px;
  }
}
@media screen and (max-width: 800px) {
  .sign__info__form__btn {
    width: 100px;
  }
}
.sign__info__form__btn:hover {
  background: #ffffff;
  color: #3ACDD5;
}

.footer__info {
  width: 1400px;
  padding-top: 60px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 1600px) {
  .footer__info {
    width: 1100px;
  }
}
@media screen and (max-width: 1200px) {
  .footer__info {
    width: 800px;
  }
}
@media screen and (max-width: 800px) {
  .footer__info {
    width: 440px;
  }
}
@media screen and (max-width: 450px) {
  .footer__info {
    width: 300px;
  }
}
.footer__info__item {
  display: flex;
  flex-direction: column;
}
.footer__info__item h3 {
  font-family: "Signika", sans-serif;
  font-weight: 700;
  font-size: 42px;
  margin: 0 0 30px;
}
@media screen and (max-width: 1200px) {
  .footer__info__item h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 800px) {
  .footer__info__item h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 450px) {
  .footer__info__item h3 {
    font-size: 14px;
  }
}
.footer__info__item div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer__info__item div a {
  text-decoration: none;
  color: #000000;
  font-family: "Signika", sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin: 10px 0;
}
@media screen and (max-width: 1200px) {
  .footer__info__item div a {
    font-size: 18px;
  }
}
@media screen and (max-width: 800px) {
  .footer__info__item div a {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  .footer__info__item div a {
    font-size: 11px;
  }
}
.footer p {
  font-family: "Signika", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin: 50px 0 40px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .footer p {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .footer p {
    font-size: 14px;
  }
}
.footer__social {
  margin: 30px 0;
  text-align: center;
}
.footer__social svg {
  fill: #606060;
  margin: 0 20px;
}
@media screen and (max-width: 800px) {
  .footer__social svg {
    margin: 0 15px;
  }
}
@media screen and (max-width: 450px) {
  .footer__social svg {
    width: 35px;
    height: 35px;
  }
}
.footer__social a:nth-child(1) svg:hover {
  fill: #0B84ED;
}
.footer__social a:nth-child(2) svg:hover {
  fill: #D73184;
}
.footer__social a:nth-child(3) svg:hover {
  fill: #0A66C2;
}
.footer__social a:nth-child(4) svg:hover {
  fill: #148AC5;
}

.dark-background {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

/*# sourceMappingURL=main.css.map */
